*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  
  
}
html{
  scroll-behavior: smooth;
}
.body {
  background: #ffffff none repeat scroll 0 0;
  color: #000;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}
body {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}
/* a {
    color: #292b2c;
    text-decoration: none;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
a:hover {
    color: #888888;
    text-decoration: none;
}
a:focus {
    outline: none;
    text-decoration: none;
} */
.header_wrap:not([class*="bg_"]):not([class*="bg-"]) {
  background-color: #fff;
}
.header_wrap {
  transition: all 0.5s ease 0s;
}
.top-header {
  background-color: #28A575!important;
}
.top-header, .middle-header {
  padding: 10px 0;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.align-items-center {
  -ms-flex-align: center!important;
  align-items: center!important;
}
.row {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.text-center {
  text-align: center!important;
}
ul, li, ol {
  margin: 0;
  padding: 0;
}
dl, ol, ul {
  margin-top: 0;
  margin-bottom: 1rem;
}
.top-header li, .top-header li a {
  color: #fff;
}
.top-header li a i {
  color: #fff;
  font-size: 20px;
  padding: 10px;
}
.contact_detail li:first-child {
  margin-left: 0px;
}
.contact_detail li {
  color: rgb(255, 255, 255);
  font-size: 14px;
  margin-left: 5px;
  vertical-align: middle;
}
/* .contact_detail li a:hover{
  color: #000;
} */
.contact_detail li a:hover,.contact_detail li a i:hover{
  color: #000;
}
.social_icons li, .contact_detail li {
  display: inline-block;
  padding: 2px 3px;
}
.social_icons li a i:hover{
  color: #000;
}
.list_none li {
  list-style: none;
}
ul, li, ol {
  margin: 0;
  padding: 0;
}
.nav-item{
  padding: 5px;
}
.nav-item a :hover{
  color: #28A575;
}
.list_none{
  display: inline-flex;
  
}
.overlay_bg_50::before {
  background-color: rgba(0, 0, 0, 0.50);
}
section {
  padding: 60px 0;
  width: 100%;
}
.footer-basic {
  padding:40px 0;
  background-color: #28A575 ;
  color:#ffffff;

}
.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:15px;
  line-height:1.5 px;
  margin: bottom 0px;;
} 
.footer-basic li {
  padding:0 10px;
} 
.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8px;
}
.footer-basic ul a:hover {
  opacity:10px;
}

.footer-basic .social {
  text-align:center;
  padding-bottom: 10px;
} 
.footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid rgb(0, 0, 0);
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}
.footer-basic .social > a:hover {
  opacity: 30%;
}
.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:rgb(255, 255, 255);
  margin-bottom:0;
}
.bar{
  left: 0;
  bottom: 0;
  width: 100vw;
  background-color: #28A575;
  color: #ffffff;
  display: flex;
  font-size: 10px;
  justify-content: space-around;
  width: 100vw;
}